#!/bin/bash
# Configuration de la fonction git-pull (à placer dans /usr/local/lib/)
# Scripts additionnels (

build-repo() {
	case "$1" in
		"stk")
			if ! [ -d cmake_build ]; then
				mkdir cmake_build
			fi
			cd cmake_build
			cmake ..
			ret=$?
			if [ $ret -gt 0 ]; then return $ret
			fi
			make -j9
			ret=$?
			if [ $ret -gt 0 ]; then return $ret
			fi
			;;
			
		"clover")
			cd CloverPackage
			ret=./makepkg
			ret=$?
			if [ $ret -gt 0 ]; then return $ret
			fi
			;;
			
		*)
			;;
	esac
	
	return 0
}