#!/bin/bash
# Configure fonction repos-pull function (place file in /usr/local/lib/)
# Additionnal scripts :
#	- add your scripts before "*)",
#	- parameter's name have to be the name used when calling repos-pull function followed by repository's name (names defined in repos.cnf) without space or other character
#	- finish your scripts by ";;"
#	- configured script will be executed from repository's root

build-repo() {
	case "$1" in
		# "callingName+reposName")
		#	...code to run...
		#	;;
		
		# Examples
	
		"stkCode")
			if ! [ -d cmake_build ]; then
				mkdir cmake_build
			fi
			cd cmake_build
			cmake ..
			ret=$?
			if [ $ret -gt 0 ]; then return $ret; fi
			make -j9
			ret=$?
			if [ $ret -gt 0 ]; then return $ret; fi
			;;
			
		"cloverBootloader")
			cd CloverPackage
			./makepkg
			ret=$?
			if [ $ret -gt 0 ]; then return $ret; fi
			;;
			
		*)
			echo "Unknown building script"
			return 1
			;;
	esac
	
	return 0
}
