#!/bin/bash
# Configuration de la fonction repos-pull (à placer dans /usr/local/lib/)
# Scripts additionnels : le nom du paramètre dooit correspondre au nom pour l'appel à repos-pull suivi du nom du dépôt (définis dans repos.cnf) sans espace ou caractère supplémentaire

build-repo() {
	case "$1" in
		# "nom+repos")
		#	...code à éxecuter...
		#	;;
	
		"stkCode")
			if ! [ -d cmake_build ]; then
				mkdir cmake_build
			fi
			cd cmake_build
			cmake ..
			ret=$?
			if [ $ret -gt 0 ]; then return $ret; fi
			make -j9
			ret=$?
			if [ $ret -gt 0 ]; then return $ret; fi
			;;
			
		"cloverBootloader")
			cd CloverPackage
			./makepkg
			ret=$?
			if [ $ret -gt 0 ]; then return $ret; fi
			;;
			
		*)
			echo "Script inconnu"
			return 1
			;;
	esac
	
	return 0
}
