# Configure repos-pull function (place file in /usr/local/lib/)
# Describe all repositories :

# name used when calling repos-pull {
#	repos:		space separated names of repositories
#	type:		git|svn (space separated)
#	paths:		relative paths to repository folder from ~/
#	binaries:	relative expression pointing to binairies from repository's root ([FOLDER]/* or [FOLDER]/*.sh for example), build script will be executed only if a binary is configured here
# }

# Examples :

stk {
 	repos:		Assets Code Medias
	type:		svn git svn
	paths:		Applications/Git/stk-assets Applications/Git/stk-code Applications/Git/stk_media_repo
	binaries:	"" cmake_build/bin/* ""
}

clover {
	repos:		Bootloader
	type:		git
	paths:		/Volumes/Medias/Installeurs/INSTALL_macOS/CloverBootloader
	binaries:	CloverPackage/sym/*
}

musee {
	repos:		Test Main
	type:		git git
	paths:		Sites/Musée/htdocs Sites/Musée/www
}

git {
	repos:		SubRepo
	type:		git
	paths:		Applications/Git/git-subrepo
	binaries:	.rc
}
